<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gear Calculator Controller</title>
</head>
<body>
    <div>
        <ul>
            <li><label>maxRpm</label> <input id="maxRpm" type="text"></input></li>
            <li><label>gearRatio1</label> <input id="gearRatio1" type="text"></input></li>
            <li><label>gearRatio2</label> <input id="gearRatio2" type="text"></input></li>
            <li><label>gearRatio3</label> <input id="gearRatio3" type="text"></input></li>
            <li><label>gearRatio4</label> <input id="gearRatio4" type="text"></input></li>
            <li><label>gearRatio5</label> <input id="gearRatio5" type="text"></input></li>
            <li><label>gearRatio6</label> <input id="gearRatio6" type="text"></input></li>
            <li><label>gearRatio7</label> <input id="gearRatio7" type="text"></input></li>
            <li><label>finalDrive</label> <input id="finalDrive" type="text"></input></li>
            <li><label>tyreWidth</label> <input id="tyreWidth" type="text"></input></li>
            <li><label>tyreProfile</label> <input id="tyreProfile" type="text"></input></li>
            <li><label>wheelDiameter</label> <input id="wheelDiameter" type="text"></input></li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <button onclick="CollectValues();" id="calculate" type="submit" name="Calculate">Calculate</button>
            </li>
        </ul>

        <span th:text="*{title}">...</span>


        <form action="#" th:action="@{/submit}" method="post">
            <input type="text" th:value="*{inputString}" name="inputString" placeholder="Enter a string"/>
            <input type="submit" value="Submit"/>
        </form>

    </div>
</body>
</html>